xlrd<=2.0
openpyxl<=3.1.2
keras<=3.1.1
matplotlib<=3.8.3
numpy<=1.26.4
pandas<=2.2.2
plotly<=5.20.0
Requests<=2.31.0
scikit_learn<=1.4.1.post1
seaborn<=0.13.2
statsmodels<=0.14.1
streamlit<=1.32.2
streamlit_option_menu<=0.3.12
yfinance<=0.2.37
tensorflow-cpu==2.5.0